<div class="container">
  <footer class="footer">
    <small>
      Copyright &copy; <a href="https://udemy.com">Ruby class on Udemy</a>
      by <a href="http://www.google.com">Google It!</a>
    </small>
    
    <nav>
      <ul>
        <li><%= link_to "About", about_path %></li>
      </ul>
    </nav>
    
  </footer>
  
</div>